body {
    font-family: 'Verdana', 'Open Sans', sans-serif;
    margin: 0;
}
h1{
  font-size:14px;
  font-family: 'Tahoma', 'Open Sans', sans-serif;
  font-weight:lighter;
  color: #666666;
  margin:0 0 -1.45em;
}
h4{
  font-size:24px;
}
li {
    display: inline-block;
    text-align: center;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}
a{
  color:#000;
  text-decoration: none;
}
a:hover
{
  color: #66AAAA
}
h2{
  font-size: 22px;
  margin-top: 20px;
  font-family: 'Tahoma', 'Open Sans', sans-serif;
}
span {
    display: inline-block;
    width: 300px;
    margin-top:20px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right:10px;
    overflow: hidden;
    flex: none;
    text-align: center;
}
p{
  font-size: 14px;
}
#n-primary{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  text-transform: uppercase;
  font-size: 14px;
}
#search{
  border-radius: 10px;
  border: 1px black solid;
  background: url("../assets/search.png") top left no-repeat;
  padding-left: 20px;
}
#content{
  margin: 0 auto;
}
#background{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #FFFFFF;
  height: 300px;
  max-width: 1490px;
  transition: background 1s linear;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/community-homepage-background-1.png");
  background-repeat: no-repeat;
}
#middle{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 36px;
  margin-top: 20px;
}
.headerText{
  font-size: 48px;
  font-weight: lighter;
  margin-bottom: 3px;
}
.subheaderText{
  font-size: 30px;
  margin-bottom: 20px;
}
.circleContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.circle {
  width: 15px;
  height: 15px;
  border: 2px solid #FFFFFF;
	border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin: 10px 3px 50px 3px;
  cursor: pointer;
}
.circleFilled {
	background-color: #FFFFFF;
}
.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.link {
  font-size: 13px;
  font-weight: bold;
  font-family: 'Tahoma', 'Open Sans', sans-serif;
}
.footer{
  background:#000;
  color:#FFFFFF;
  padding: 10px 40px 10px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
}
